In [1]:
total=[46,13]
pepole=['student','teachers','clerks']
for x in total:
    for y in pepole:
        print(x,y)

46 student
46 teachers
46 clerks
13 student
13 teachers
13 clerks

In [2]:

for i in [1,71,13,2,81,15]:
    print(i)
    if(i%2)==0:
        break

1
71
13
2

In [3]:
a='bubble'
for i in range(len(a)):
    a[i].upper()
    
print(a)

bubble

In [4]:
max("great learning")

't'

In [5]:
print('\t'.isspace())

True

In [6]:
print("hello.world".center(0))

hello.world

In [7]:
print('@#$%'.islower())

False

In [8]:
l1=[7,8,23,78,35,1]
max(l1)

78

In [9]:
a='string'
print(a.replace("rg","12"))

string

In [10]:
class Test:
    def __init__(self):
        self.x=1
class Derived_Test(Test):
    def __init__(self):
        Test.__init__(self)
        self.y=0

def main():
    b= Derived_Test()
    print(b.x,b.y)
main()

1 0

In [11]:
alpha=[21,32,12,1,2,7,55]
alpha.pop(1)
print(alpha)

[21, 12, 1, 2, 7, 55]

In [12]:
string="my name is x"
for i in string.split():
    print(i,end=",")

my,name,is,x,

In [13]:
a=[5,10,15,25]
print(a[::-2])

[25, 10]

In [14]:
fruits=['Apple','Mango','Pear']
for fruit in fruits:
    print(fruit)
    print(fruit + 'Pie')
    
print(fruits)

Apple
ApplePie
Mango
MangoPie
Pear
PearPie
['Apple', 'Mango', 'Pear']

In [ ]:
student_heights=input('Input a list of student heights').split()
for i in range(0,len(student_heights)):
    student_heights[i]=int(student_heights[i])
    
print(student_heights)
print(sum(student_heights))
print(len(students_heights ))

In [ ]:
total_height=sum(student_heights)
no_of_students=len(student_heights)
average_height=round(total_heights/no_of_students)
print(average_height)

In [ ]:
student_heights=input('Input a list of student heights').split()
for i in range(0,len(student_heights)):
    student_heights[i]=int(student_heights[i])
    

total_height=0
for height in student_heights:
    total_height+=height
print(total_height)
number_of_students=0
for student in student_heights:
    number_of_students+=1
    
print(number_of_students)
no_of_students=len(student_heights)
average_height=round(total_heights/no_of_students)
print(average_height)

In [ ]:
 b